{% assign item = include.item %}
<article class="publication-item">
    <h3 class="publication-title">{{ item.title }}</h3>
    {% if item.authors.size > 18 %}
    <details class="publication-authors publication-authors-expandable">
        <summary>
            {% assign preview_authors = item.authors | slice: 0, 8 %}
            {% include widgets/author_list.html authors=preview_authors hide_corresponding_note=true %}, et al.
            <mark class="publication-corresponding-note">(† <i>corresponding author</i>)</mark>
            <span class="publication-expand-label">All {{ item.authors.size }} authors</span>
        </summary>
        <p>{% include widgets/author_list.html authors=item.authors hide_corresponding_note=true %}</p>
    </details>
    {% else %}
    <p class="publication-authors">{% include widgets/author_list.html authors=item.authors %}</p>
    {% endif %}
    <p class="publication-venue">{{ item.pub_pre }}<span class="publication-venue-name">{{ item.pub }}</span> {{ item.pub_date }}{{ item.pub_post }} {{ item.pub_last }}</p>
    {% if item.links.size > 0 or item.abstract.size > 0 %}
    <div class="publication-resources">
        {% for link in item.links %}
            {% assign link_url = link[1].url | default: link[1] %}
            {% if link_url and link_url != '#' %}
            <a href="{{ link_url | relative_url }}"{% if link_url contains '://' %} target="_blank" rel="noopener"{% endif %}>{{ link[0] }}</a>
            {% endif %}
        {% endfor %}
        {% if item.abstract.size > 0 %}
        <details class="publication-abstract">
            <summary>Abstract</summary>
            <p>{{ item.abstract }}</p>
        </details>
        {% endif %}
    </div>
    {% endif %}
</article>
